.gradle
.DS_Store
.idea
build
classes
*.iml
local.properties
gradle.properties
/target/

# Maven
target/
*.ser
*.ec

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

# Eclipse
.classpath
.project
.settings/
.metadata/